/* 코드 문제있으면 알려주세요(김경민) */
html,
body {
  overflow: auto;
}

body {
  background-color: #f7f8fa;
}

.compare-container {
  max-width: 540px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (max-width: 390px) {
    padding: 12px;
  }

  @media (max-width: 360px) {
    padding: 10px;
  }
}

.path-indicator {
  background-color: #333;
  color: white;
  padding: 8px 16px;
}

.home-icon-container {
  padding: 10px;
}

.home-link {
  text-decoration: none;
}

.home-icon {
  width: 30px;
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-icon span {
  color: white;
  font-size: 20px;
}

.main-content {
  padding: 16px;
  text-align: center;
  flex-grow: 1;
  margin: auto;
  width: 95%;

  @media (max-width: 375px) {
    max-width: 280px;
  }
  @media (max-width: 360px) {
    max-width: 260px;
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.money-image-container {
  margin: 20px auto;
  background-color: #f5f5f5;
  padding: 10px;
  width: 170px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  animation: pulse 3s infinite ease-in-out;
}

.money-image {
  max-width: 100%;
  max-height: 100%;
}

.product-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-item {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 15px 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  justify-content: space-between;
  opacity: 0;
  animation: fadeInUp 0.6s ease-in-out forwards;
  max-width: 100%;
  margin: 0 auto;
  min-height: 170px; /* 최소 높이 설정 */
}

.product-item {
  animation-delay: 0.2s;
}

.product-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.product-image-container {
  width: 120px;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #eee;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-description {
  font-size: 10px;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
  flex: 1;
  max-width: calc(100% - 130px);
}

.product-description:hover {
  color: #333;
  font-weight: 600;
}

.product-checkbox {
  width: 22px;
  height: 20px;
  border: 2px solid #5964ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 10px;
  background-color: white;
  flex-shrink: 0;
}

.product-checkbox input {
  position: absolute;
  width: 10%;
  height: 50%;
  margin: 0;
  opacity: 0;
}

.product-checkbox span {
  font-size: 16px;
  font-weight: bold;
  color: #5964ff;
  opacity: 0;
  transition: none;
}

.product-checkbox input:checked + span {
  opacity: 1;
}

.add-to-cart-button {
  margin: 20px auto;
  padding: 12px 20px;
  width: 90%;
  background-color: #5964ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  display: block;
  text-align: center;
  font-weight: bold;
}

.add-to-cart-button:hover {
  background-color: #0056d2;
}

.item-detail {
  text-align: left;
  width: 100%;
}

.item-title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 1.3;
}

.item-price {
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

.item-brand {
  font-size: 11px;
  color: #666;
  margin-bottom: 5px;
}
.item-mallname {
  font-size: 11px;
  color: #666;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.page-button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-button.active {
  background-color: #333;
  color: #fff;
}

.page-button:hover {
  background-color: #5964ff;
  color: white;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #666;
}
