.home-container {
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f8fa;
    height: 100vh;
    overflow: hidden;
  }
  
  .home-card {
    background-color: white;
    padding: 0rem 1.5rem 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    scrollbar-gutter: stable;
  }
  
  .home-card header {
    text-align: center;
  }
  
  .title-image {
    width: 100%;
    max-width: 230px;   
    height: auto;
    margin: 2rem auto 1rem;
    display: block;
  }
  
  .logo-image {
    width: 100%;
    max-width: 300rem; 
    height: auto;
    margin: 0rem auto;
    display: block;
  }

  .start-button {
    background-color: #8be9f1;
    color: white;
    padding: 12px 24px;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;  
    width: 100%;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .start-button:hover {
    background-color: #21d3ee;
  }
  

  .home-card p {
    text-align: center;
    font-size: 1.3rem;
    color: #333;
    margin-top: -1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  