.home-button {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  background-color: transparent; /* 디자인용 */
  border: none;
  font-size: 50px;
  font-weight: 700;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  color: #222;
  letter-spacing: 1px;
}
