.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2cap 0 #f7f8fa;
  background-color: #f7f8fa;
  min-height: 100vh;
}

.main-header {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.main-card {
  background-color: white;
  padding: 2rem 0 6rem 0;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin-top: 5rem;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem 0;
  height: 5%;
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.home-button {
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
}

.cart-button {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .main-header {
    font-size: 1rem;
  }

  .bottom-nav button {
    font-size: 0.8rem;
  }

  .cart-button {
    top: 1rem;
    right: 1rem;
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}
