.search-page {
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;

  @media (max-width: 390px) {
    padding: 12px;
  }

  @media (max-width: 360px) {
    padding: 10px;
  }

  @media (max-width: 320px) { 
    padding: 8px; /* 작은 화면에서 여백 최소화 */
    text-align: left; /* 텍스트 정렬 변경 가능 */
   }
}

.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  margin-bottom: 23px;
  max-width: 300px;
  width: 100%;

  @media (max-width: 375px) {
    max-width: 280px;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    justify-content: center; /* 정렬 조정 */
    gap: 8px; /* 요소 간 간격 추가 */
  }
  @media (max-width: 360px) {
    max-width: 260px;
    flex-wrap: wrap; /* 줄바꿈 허용 */
    justify-content: center; /* 정렬 조정 */
    gap: 8px; /* 요소 간 간격 추가 */
  }
}

.search-input {
  background-color: rgba(217, 217, 217, 10);
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  @media (max-width: 375px) {
    padding: 7px;
    font-size: 13px;
  }

  @media (max-width: 360px) {
    padding: 6px;
    font-size: 12px;
  }
}

.input-container {
  margin-bottom: 12px;
  text-align: left;

  @media (max-width: 375px) {
    margin-bottom: 10px;
  }

  @media (max-width: 360px) {
    margin-bottom: 8px;
  }
}

.input-label {
  display: block;
  font-size: 14px;
  color: #888;
  margin-bottom: 4px;

  @media (max-width: 375px) {
    font-size: 13px;
  }

  @media (max-width: 360px) {
    font-size: 12px;
  }
}

.input-box {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 10);

  @media (max-width: 375px) {
    padding: 7px;
    font-size: 13px;
  }

  @media (max-width: 360px) {
    padding: 6px;
    font-size: 12px;
  }
}

.input_border {
  width: 100%;
  border: none;
  background-color: rgba(217, 217, 217, 10);
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #00b6ff;
  color: white;

  margin-bottom: 0px;
  :hover {
    background-color: #c7ccdf;
    color: black;
  }

  @media (max-width: 375px) {
    padding: 10px;
    font-size: 15px;
    margin-top: 12px;
  }

  @media (max-width: 360px) {
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
  }
}

button:disabled {
  cursor: not-allowed;
  background-color: #c7ccdf;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0px;
}

